<p id="notice"><%= notice %></p>

<p>
  <strong>Time:</strong>
  <%= @add_time_to_appointment.time %>
</p>

<%= link_to 'Edit', edit_add_time_to_appointment_path(@add_time_to_appointment) %> |
<%= link_to 'Back', add_time_to_appointments_path %>
