// Place all the styles related to the home controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
h1 {
   text-align: center;
   color: silver;
   font-size: 63px;


}

.row {
   text-align: center;
   color: black;
   font-size: 10px;
   background: silver;

}

// body {
//   background-image: url("pass.jpg");
//   background-size: contain;
//   background-position: bottom;
//   opacity: 4;
// }
